@model ToyApp.Models.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>What dont you want to forget?</h2>
@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.Category, Model.CategoriesSelectList)
    <input type="submit" class="btn btn-default" value="Remember me...">
}

<h3>@ViewBag.message</h3>

